    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: webapp
      namespace: default
    spec:
      replicas: 1
      selector:
        matchLabels:
          app: webapp
      template:
        metadata:
          labels:
            app: webapp
        spec:
          containers:
            - name: webapp
              image: YOUR_REGISTRY/webapp:latest
              ports:
                - containerPort: 3000
---
    apiVersion: v1
    kind: Service
    metadata:
      name: webapp
      namespace: default
    spec:
      type: LoadBalancer
      selector:
        app: webapp
      ports:
        - port: 80
          targetPort: 3000
