imagePullSecrets: []

services:
  frontend:
    enabled: true
    replicaCount: 1
    image:
      repository: nginx
      tag: "1.27"
      pullPolicy: IfNotPresent
    containerPort: 80
    service:
      type: ClusterIP
      port: 80
    env: {}
    resources: {}

  redis:
    enabled: true
    replicaCount: 1
    image:
      repository: redis
      tag: "7"
      pullPolicy: IfNotPresent
    containerPort: 6379
    service:
      type: ClusterIP
      port: 6379
      targetPort: 6379
    env: {}
    resources: {}
